* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
ul {
  list-style: none;
}
.footer {
    margin-top: 5rem;
    font-weight: bold;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 122, 123, 1) 100%,
    rgba(69, 68, 80, 0.8772759103641457) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 122, 123, 1) 100%,
    rgba(69, 68, 80, 0.8772759103641457) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 122, 123, 1) 100%,
    rgba(69, 68, 80, 0.8772759103641457) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#454450",GradientType=1);
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  flex: 1 1 25rem;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-weight: bold;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: blue;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 300;
  transition: all 0.3s ease;
  text-align: justify;
}
.footer-col ul li a:hover {
  padding-left: 8px;
  font-weight: 700;
}
.footer-col .icons {
  display: inline-block;
  height: 40px;
  font-size: 2rem;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .icons:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
